:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.principal {
    background-image: url(img/Background.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    
}

.menu-principal {
    margin: 0 8em;
    text-align: center;
}

.menu-title {
    margin-bottom: 10px;
  
}

.menu-img {
    margin: 15px 5em 15px 5em;
}

.menu-anchor {
    display: flex;
    justify-content: center;
    background-color: var(--botao-azul);
    
    color: var(--branco-principal);
    font-size: 18px;
    text-decoration: none;
    
    width: 70%;
    margin: 10px 90px;
    padding: 2vh;
    border: none;
    border-radius: 5px;
}

.menu-anchor:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.alura {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.menu-paragraph {
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
}

/* SECTION "PLATFORMS" DISPONÍVEIS PARA O ACESSO AO ALURA */

.menu-platforms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;   
}

.div-img-platforms {
    width: 50%;
}

.img-platforms {
    width: 60%;
    margin: 0 20vh;
}

.platforms-text {
    width: 50%;
    height: 2em;
    margin: 0 10vh;
}

.platforms-title {
    font-size: 3em;
}

.platforms-paragraph {
   color: var(--cinza-secundario);
   font-family: var(--fonte-principal); 
}

/* SECTION "SCREENS" DISPONÍVEIS PARA O ACESSO */

.menu-screens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.screens-text {
    width: 50%;
    margin: 0 20vh 0 0;
}

.screens-paragraph {
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--cinza-secundario);
    margin: 0 0 3.5vh 11vh;
}

.screens-anchor {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    font-weight: 400;
    text-decoration: none;
    
    margin: 0 7em;
    padding: 20px;
    border-radius: 1vh;
}

.screens-anchor:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.div-screens-img {
    width: 50%;
}

.img-screens {
    width: 75%;
}

/* SEÇÃO "DOWNLOAD DE CURSOS" */

.download-courses {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
} 

.img-download-courses {
    width: 40%;
    margin: 0 0 0 10vh;
}

.download-courses-text {
    width: 50%;
    margin: 0 15vh 0 15vh;
}

.title-courses {
    font-size: 3em;
}

.paragraph-courses {
    color: var(--cinza-secundario);
    font-size: 1.25em;
    font-weight: 400;
}

/* SEÇÃO MINIMALISTA DE DISPOSITIVOS DISPONÍVEIS FAVORITOS */

.devices-favorites {
    height: 50vh;
}

.devices-title {
    font-size: 3em;
    text-align: center;
}

.unorderlist-devices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    
    margin: 2vh 0;
    padding: 10vh;
}

.devices-h3 {
    font-size: 2em;
    text-align: center;
}

/* INICIALIZANDO - SEÇÃO FOOTER  */

footer {
    height: 30vh;
}

.div-img-footer {
    display: flex;
    justify-content: center;
}

.ul-footer {
    display: flex;
    justify-content: space-around;
    margin: 10vh 3em 2em 3em;
    list-style-type: none;
}

.anchor-footer {
    color: var(--branco-principal);
    text-decoration: none;
}

.anchor-footer:hover {
    font-size: 18px;
}

.paragraph-footer {
    font-size: 14px;
    color: var(--cinza-secundario);
    text-align: center;
    margin: 0 3em 0 3em;
    line-height: 2em;
}

